In [1]:
import numpy as np

In [2]:
a=np.array([1,2,3])

In [3]:
print(a)

[1 2 3]

In [4]:
#3*3
b=np.array([
    [3,4,5],
    [5,7,8],
    [3,6,7]
])

In [5]:
print(b)

[[3 4 5]
 [5 7 8]
 [3 6 7]]

# start

In [6]:
data= np.random.randn(4,3)
                     #c,r
data

array([[ 1.21456676,  1.52346267,  0.78196315],
       [ 1.05371071,  0.4911804 ,  0.64751396],
       [ 1.10463948, -1.86723087, -0.47391689],
       [-0.42088902, -1.15722595,  0.14687749]])

In [7]:
data*10

array([[ 12.14566757,  15.23462668,   7.81963149],
       [ 10.53710714,   4.91180398,   6.47513965],
       [ 11.04639483, -18.67230873,  -4.73916892],
       [ -4.20889019, -11.57225955,   1.46877492]])

In [8]:
data + data

array([[ 2.42913351,  3.04692534,  1.5639263 ],
       [ 2.10742143,  0.9823608 ,  1.29502793],
       [ 2.20927897, -3.73446175, -0.94783378],
       [-0.84177804, -2.31445191,  0.29375498]])

In [9]:
data.shape

(4, 3)

In [10]:
data.dtype

dtype('float64')

# creating ndarrays

In [11]:
data1 = [2,3,4,5,7.5]

In [12]:
arr1 = np.array(data1)

In [13]:
arr1

array([2. , 3. , 4. , 5. , 7.5])

In [14]:
data2 = [[2,3,7,6,9],[8,7,6,5,3]]

In [15]:
arr2 = np.array(data2)

In [16]:
arr2

array([[2, 3, 7, 6, 9],
       [8, 7, 6, 5, 3]])

In [17]:
arr2.ndim

2

In [18]:
arr2.shape

(2, 5)

In [19]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [20]:
np.zeros((3,6),dtype=int)

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0]])

In [21]:
np.empty((2,3,2),dtype=int)

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 0],
        [0, 0]]])

In [22]:
np.arange(15)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

# Data Types of Ndarrays

In [23]:
arr1 = np.array([1,2,3], dtype=np.float64)

# pandas

In [24]:
import pandas as pd

In [25]:
obj = pd.Series([4,7,-5,3])
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64

In [26]:
print(obj.values)

[ 4  7 -5  3]

In [27]:
sales = pd.Series([100,200,300,400])
print(sales.values)
print(sales.index)

[100 200 300 400]
RangeIndex(start=0, stop=4, step=1)

# pandas series has two things in objects

# 1 Values

# 2 Index

In [28]:
sales = pd.Series([100,200,300,400] ,index = ['jan','feb','mar','apr'])

In [29]:
print(sales)

jan    100
feb    200
mar    300
apr    400
dtype: int64

In [30]:
print(sales.values)

[100 200 300 400]

In [31]:
print(sales.index)

Index(['jan', 'feb', 'mar', 'apr'], dtype='object')

# create a pandas series to store a canteen data to hold values of how many sandwithes are sold each days (one week)

In [32]:
sw = pd.Series([100,200,300,400,76,65,0], index=["mon","tues","wed","thur","fri","sat","sun"])

In [33]:
print(sw)

mon     100
tues    200
wed     300
thur    400
fri      76
sat      65
sun       0
dtype: int64

In [34]:
print(sw[1])
print(sw[0])

200
100

In [35]:
print(sw["tues"])
print(sw["sun"])

200
0

In [36]:
weeks = ["mon","tues","wed","thur","fri","sat","sun"]
sw = pd.Series([100.,200,300,400,76,65,0], index=weeks)

In [37]:
print(sw[1])
print(sw["sun"])

200.0
0.0

In [38]:
print(sw[ [3,5] ])
print()
print(sw[ ["fri","sat"] ])

thur    400.0
sat      65.0
dtype: float64

fri    76.0
sat    65.0
dtype: float64

In [39]:
print(sw>20)
print()
print(sw[sw>20])

mon      True
tues     True
wed      True
thur     True
fri      True
sat      True
sun     False
dtype: bool

mon     100.0
tues    200.0
wed     300.0
thur    400.0
fri      76.0
sat      65.0
dtype: float64

In [40]:
sandwich = pd.Series([2,3,4,5,6,7,8], index = weeks)

In [41]:
print(sandwich)

mon     2
tues    3
wed     4
thur    5
fri     6
sat     7
sun     8
dtype: int64

In [42]:
print(sandwich[ [3,5] ])

thur    5
sat     7
dtype: int64

In [43]:
"mon" in sandwich

True

In [44]:
import calendar as cal
import numpy as np

In [45]:
values = np.random.randint(10,101 , size =[7])
months = []

for i in range(1,13):
    mnth = cal.month_abbr[i]
    months.append(mnth)
sh = pd.Series(np.random.randint(10,101, size = [12]),
                    index = months)

print(sh)

Jan    88
Feb    38
Mar    30
Apr    96
May    63
Jun    21
Jul    47
Aug    50
Sep    53
Oct    91
Nov    52
Dec    80
dtype: int32

In [46]:
"Jan" in sh

True

In [47]:
range(1,200) in sh

False