In [1]:
import pandas as pd

In [2]:
apples = pd.Series(["1",3,4.09])
orange = pd.Series([4,3,21])

In [3]:
data = {"apples": apples, "oranges":orange}

In [4]:
fruits_df = pd.DataFrame(data)

In [5]:
print(fruits_df)

  apples  oranges
0      1        4
1      3        3
2   4.09       21

In [6]:
state = ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada']
data = {'state': state ,
        'year' : [2000, 2001, 2002, 2001, 2002, 2003],
        'pop'  : [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
state_pop_df = pd.DataFrame(data , index = ['1st', '2nd', '3rd', '4th', '5th','6th'] )
print(state_pop_df)

      state  year  pop
1st    Ohio  2000  1.5
2nd    Ohio  2001  1.7
3rd    Ohio  2002  3.6
4th  Nevada  2001  2.4
5th  Nevada  2002  2.9
6th  Nevada  2003  3.2

In [7]:
state_pop_df = pd.DataFrame(data , columns=["year","state","pop"])

In [8]:
state_pop_df.head(5)

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

In [9]:
frame2 = pd.DataFrame(data,columns= ["year","state" ,"pop","debt"],
index = ["one","two","three","four","five","six"])
frame2.head()

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN

In [10]:
print(frame2.columns)
print(frame2.index)

Index(['year', 'state', 'pop', 'debt'], dtype='object')
Index(['one', 'two', 'three', 'four', 'five', 'six'], dtype='object')

In [11]:
#time series coursera course

In [12]:
frame2.state

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

In [13]:
print(frame2.loc["two"])
state_pop_df.head()

year     2001
state    Ohio
pop       1.7
debt      NaN
Name: two, dtype: object

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

In [14]:
import numpy as np
import pandas as pd

In [15]:
state = {"ohio" , "ohio" , "ohio" ,"nevade","nevade","nevade"}

data = {"state":state,
       "year": [2000,2001,2002,2003,2001,2002,2003],
        "pop": [1.5,2.5,3.4,1.5,2.5,3.4]}

frame2 = pd.DataFrame(data,columns=["year","state","pop","debt"],
                     index = ["one","two","three","four","five","six" ])

ln = len(frame2)
print(ln)
rng = np.arange(ln)
print(rng)
frame2["debt"] =rng
frame2

ValueError: Shape of passed values is (7, 4), indices imply (6, 4)

In [ ]:
val = pd.Series([-1.2.2,3.4,2.6,8.1,9.8],
               index=["one","two","three","four","five","six"] )
frame2["debt"] = val
frame2

In [ ]:
#######

In [ ]:
obj3 = pd.Series(["blue","purple","green"], index = [2,3,6])
print(obj3)

In [ ]:
obj3 = obj3.reindex(range(9),method = "bfill")
#pfil
print(obj3)

In [16]:
# column name changing using reindex method
states = pd.DataFrame(np.arange(9).reshape((3, 3) ),
index=['a', 'c', 'd'], columns=['Ohio', 'Texas', 'California'])
print(states)
states_name = ['Texas', 'Utah', 'California','Ohio']

# can we user ffill parameter in column reindex mode ?
states =states.reindex(columns=states_name)
print(states)

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8
   Texas  Utah  California  Ohio
a      1   NaN           2     0
c      4   NaN           5     3
d      7   NaN           8     6

In [ ]:
#######333

In [18]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
             index=['Ohio', 'Colorado', 'Utah', 'New York'],
             columns=['one', 'two', 'three', 'four'])

print(data_df, "\n")

# dataframe.drop method would return a new dataframe without 
# having deleted rows. so store its into to dataframe variable
# or use inplace=True while droping rows or column

#data_df.drop(['Colorado', 'Ohio'], inplace =True)
#print(data_df)

#You can drop values from the columns by passing axis=1 
#or axis='columns' :
#data_df = data_df.drop('two', axis=1)
data_df.drop('two', axis=1, inplace = True)
print(data_df)

# if i want to remove a row for example 'Colorado', 
# how can we do that

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

In [19]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
             index=['Ohio', 'Colorado', 'Utah', 'New York'],
             columns=['one', 'two', 'three', 'four'])

#print(data_df, "\n")
#df2 = data_df[ ["one", "three"] ]
#print(df2)
#print( data_df[2:] ) # same like numpy
#print(data_df["one"] )# dicitonary like style of accessing data
print(data_df.one[2:])  # filter on both row and column
# Conditonal Selection
#print ( data_df.three[data_df['three'] > 5] )
#print(data_df, "\n")

df2 = data_df["three"] > 5  # boolean dataframe
print(df2)
print( data_df[  data_df["three"] > 5  ] )

Utah         8
New York    12
Name: one, dtype: int32
Ohio        False
Colorado     True
Utah         True
New York     True
Name: three, dtype: bool
          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [20]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
             index=['Ohio', 'Colorado', 'Utah', 'New York'],
             columns=['one', 'two', 'three', 'four'])

print(data_df, "\n")
#enemy at the gate# in the loc method specify row label first 
# then specify column names
# remember! mutiple column names require array notation
print( data_df.loc[['Colorado','Ohio'], ['two',  'three'] ] )
print("\n")
print( data_df.iloc[2, [3, 0, 1] ] ) # using number instead of labels
print( data_df.iloc[:])
print ( data_df.iloc[ :3 , :3 ] )
print( data_df.iloc[:, :3])

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

          two  three
Colorado    5      6
Ohio        1      2


four    11
one      8
two      9
Name: Utah, dtype: int32
          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
          one  two  three
Ohio        0    1      2
Colorado    4    5      6
Utah        8    9     10
          one  two  three
Ohio        0    1      2
Colorado    4    5      6
Utah        8    9     10
New York   12   13     14